
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #216869;
    font-family: 'Source Sans Pro', sans-serif;
}



.nav{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0px 20px;
    position: sticky;
    top:0;
    z-index: 4;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 40px;
    width: 100%;
    flex-wrap: wrap;
    font-size: larger;
}
.logo{
    height: 10vh;
}
.nav-bar{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
}
.li{
    margin: 30px;
    color: white;
    cursor: pointer;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: #222;
}
a:hover{
    color: #d1a39e;
    text-decoration: underline;
    opacity: 1;
}
.hamburger{
    background-color: transparent;
    border: 0;
    display: none;
    cursor: pointer;
}
.hamburger.hover{
    border: 0;
}

/* <!----------------------------------- START BANNER----------------------------> */
.banner{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0vh 10vh 0vh 10vh;
}
.start{
    margin: 30px;
    font-size: x-large;
}
.photo{
    height: 70vh;
}
.h1{
    color:white;
    font-size: 80px;
}
.h2{
    color: gray;
    font-size: 40px;
}
.h3{
    color: gray;
}
.important{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0);
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    margin-top: 20px;
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 60%;
}
/* <!----------------------------------- START WHAT I DO----------------------------> */

.whatido{
    display: grid;
    margin: 10vh 10vh;
    grid-template-columns: 50% 50%;
}
.do-container{
    background: linear-gradient(white, #9cc5a155);
    border: 0px;
    border-radius: 10px;
    font-size: 40px;
    padding: 4vh;
    margin: 5vh;
}

.titletwo{
    color: white;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 6%;
}

p{
    background-color: transparent;
}

/* <!---------------------------START PORTAFOLIO----------------------------> */

#portfolio {
    margin: 10%;
    width: 80%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
  }
  .project {
    position: relative;
    overflow: hidden;
  }
  
  .project img {
      position: absolute;
      opacity: 0.9;
    }
  .project p {
      position: absolute;
      text-align: center;
      width: 100%;
      padding: 1em 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      z-index: 3;
    }
  .grid__title {
      position: absolute;
      width: 100%;
      text-align: center;
      white-space: nowrap;
      bottom: 0;
      font-weight: 100;
      font-size: 0.8em;
      z-index: 3;
      text-transform: uppercase;
      color: white;
      letter-spacing: 2px;
      background-color: transparent;
    }
  
  .project:hover .grid__overlay {
    transform: translateY(0%);
  }
  
  .grid__overlay {
    background: #9CC5A1;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3 ease-in-out;
  }
  .grid__overlay button {
      background: none;
      outline: none;
      font-weight: 100;
      letter-spacing: 2px;
      border: 1px solid white;
      color: white;
      text-transform: uppercase;
      padding: 10px;
  }
  .grid__overlay button:hover {
      transition: all 0.3 ease-in-out;
      background: white;
      color: #d1a39e;
      transform: scale(1.05);
  
  }
  /* <!---------------------------- START SKILLS----------------------------> */
  
.myskills{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

.skills-container {
        margin-top: 20px;
        width: 100%;
        background-color: #b2b2b2;
    }
    
    .skills {
        text-align: right;
        padding-right: 20px;
        line-height: 30px;
        color: white;
        background-color: rosybrown;
        margin-bottom: 2%;
    }
    
    .figma {
        width: 70%;
    }
    
    .html {
        width: 50%;
    }
    
    .css {
        width: 30%;
    }
    
    .js {
        width: 10%;
    }
    
    .react {
        width: 0%;
    }
  /* <!---------------------------- START CONTACT ME----------------------------> */

.contactme{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10% 10% 10% 10%;
    gap:20%;
}

label {
	color: #b2b2b2;
    font-weight: bold;
    font-size:x-large;
}

form input,
textarea {
	width: 100%;
	padding: 12px;
	border: none;
	border: 1px solid #222;
	background: transparent;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	color: #b2b2b2;
    font-size: large;
}

input[type="submit"] {
	background-color: #b2b2b2;
	color: #222;
	text-transform: uppercase;
	padding: 12px 20px;
	border: 1px solid #222;
	cursor: pointer;
    font-weight: bold;
	transition: all 0.35s;
}

input[type="submit"]:hover {
	background-color: #222;
	color: #b2b2b2;
    font-weight: bold;
}

/* <!----------------------------------- START FOOTER----------------------------> */

footer {
	border-top: 1px solid #222;
}

.top-bar {
	padding: 5px 0;
	text-align: center;
}

.top-bar a {
	margin: 20px;
	font-size: 2em;
	color: #b2b2b2;
	transition: all .35s;
	display: inline-block;
}

.top-bar a:hover{
	transform: scale(1.1);
	color: #009688;
}

.bottom-bar {
	font-size: 1em;
	text-align: center;
}

/* <!---------------------------- START RESPONSIVE---------------------------> */

@media screen and (max-width:767px) {
    .nav-bar{
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .nav-bar.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    .logo{
        height: 5vh;
        margin-left: -15px;
    }
    .banner{
        margin-left: 8vh;
        display: flex;
        justify-content: space-between;
    }
    .start{
        margin-left: 0vh;
    }
    .photo{
        height: 25vh;
        margin-right: 15px;
    }
    .h1{
        font-size:large;
    }
    .h2{
        font-size: medium;
        display: flex;
        flex-direction: row;
    }
    .h3{
        font-size: small;
    }
    .important{
        font-size: small;
        margin-top: 20px;
    }
    .title{
        font-size: larger;
        font-weight: bold;
        margin: 0px 0px 0px 150px;
    }
    .whatido{
        margin: 10% 0% 0% 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .do-container{
        margin: 10px 10px;
        font-size: medium;
        width: 16vh;
        height: 10vh;
        padding: 5px 1px;
  
    }
    .titletwo{
        color: white;
        font-size: larger;
        font-weight: bold;
        margin-left: 6%;
        margin-top: 15px;
    }
    #portfolio {
        min-height: 100vh;    
        grid-template-columns: 50% 50% ;
        grid-template-rows: auto;
        height: 100px;
    }
    .skills{
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .contactme{
        display: grid;
        margin-bottom: 30%;
        gap: 10%;
    }
    .form{
        margin: 50px 0px;
        width: 100%;
        padding: 30px;
        border-radius: 10px;
        background: #9CC5A1;
    }
}